/* ====== FORMS + MODALS ====== */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);
}

.form-box {
  background: #f8f8f8;
  border-radius: 12px;
  padding: 30px;
  width: 420px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  animation: fadeIn 0.3s ease;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-btn {
  font-size: 22px;
  color: #555;
  text-decoration: none;
}

.close-btn:hover {
  color: #000;
}

.form-box label {
  display: block;
  margin-top: 12px;
  font-weight: 600;
  color: #333;
}

.form-box input,
.form-box textarea {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background: white;
}

.fecha-group {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.success-msg {
  margin-top: 15px;
  color: green;
  font-weight: bold;
  text-align: center;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  max-width: 500px;
  width: 90%;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}   

.modal-close-btn {
  position: absolute;
  top:12px;
  right: 10px;
  background: red;
  font-size: 20px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}

.subtask-item label {
  display: flex;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
  flex: 1;
}

.subtask-item {
  display: flex;              
  align-items: center;        
  justify-content: space-between; 
  gap: 6px;                   
  margin-bottom: 4px;         
}

.subtask-item input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 15px;    
  height: 15px;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 4px;
}

.subtask-item input[type="checkbox"]:checked {
  background-color: #1e40af; 
  border-color: #000;
}

.subtask-list {
  list-style: none; 
  padding-left: 0;  
  margin-left: 0;
}

.subtask-form input[type="text"] {
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
  height: 30px;
}

.modal-box h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.modal-box hr {
  margin-top: 10px;
}

.subtask-btn-primary {
  background-color: #1e40af;
  color: white;
  border-radius: 4px;
  font-size: 15px;
  padding: 3px 15px;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.subtask-delete-btn {          /* NUEVO */
  background: white;
  border: none;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  padding: 0 4px;
}

